button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
    border: 1px solid #007bff;
  }
  button span {
    display: inline-block;
    background-color: gray;
    color: #fff;
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
    border: 1px solid #007bff;
  }